# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
archeonvenv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model weights
models/

# OS-specific files
.DS_Store
Thumbs.db
